@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.search-container {
  flex: 1;
  min-width: 200px; /* Ajusta el tamaño mínimo */
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.full-width1 {
  width: 100%;
}

/* Para pantallas pequeñas, apila los filtros */
@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
  }
}

.container {
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px;
  text-align: center;
}

.cont {
  padding: 8px;
}
.tab{
  margin-top: 5%;
}

header {
  background-color: #2e8041;
  color: #fff;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  /* Para eliminar márgenes predeterminados del título */
}

.header button {
  margin: 0;
  /* Para evitar márgenes innecesarios */
}

.container-fluid {
  padding: 17px;
  background-color: #fff;
  margin: 10px;
  border: solid 1px #e9e9e9;
  border-radius: 5px;
}

h2 {
  color: #2e8041;
  font-size: 25px;
  font-weight: bold;
}

.create {
  background-color: blue !important;
  color: white;
  border: solid 1px #fff;
  border-radius: 5px;
  height: 35px;
}

table {
  margin-left: 2%;
  width: 96%;
  border-collapse: collapse;
  text-align: left; 
}
/* Clase para permitir el ajuste de texto */
.word-wrap-cell {
  word-wrap: break-word;
  white-space: normal;  /* Permite que el texto se ajuste en varias líneas */
}


thead {
  background-color: #2e8041;
  /* Si también no deseas que los encabezados se centren, elimina este texto */
  text-align: left; /* Puedes cambiarlo a left también */
}

th, td {
  text-align: left;
  vertical-align: middle;
  //white-space: normal; /* Permite saltos de línea */
  //word-break: break-word;
  overflow: hidden;
  //text-overflow: ellipsis;
}

/* Estilos para las columnas específicas */
th.mat-header-cell, td.mat-cell {
  width: auto;
  max-width: 200px; /* Ajusta según necesidad */
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .card {
    padding: 15px;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th, td {
    max-width: 150px;
  }
}  

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.success-message {
  color: #155724;
  /* Color del texto */
  background-color: #d4edda;
  /* Color de fondo */
  border: 1px solid #c3e6cb;
  /* Borde */
  border-radius: 0.25rem;
  /* Bordes redondeados */
  padding: 0.75rem 1.25rem;
  /* Espaciado interno */
  margin-top: 10px;
  /* Margen superior */
  text-align: center;
  /* Centrar texto */
  font-size: 1rem;
  /* Tamaño de fuente */
}

.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 90%;
  margin-left: 5%;
}

.form-container h2 {
  margin-bottom: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  margin-top: 40px;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-row {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 16px; 
  margin-top: 16px;
}

.rep {
  margin-bottom: 20px; 
  margin-left: 60px;
}

.full-width {
  width: 80%;

}.full-width1 {
  width: 80%;

}


.label-container {
  width: 100%;
  margin-bottom: 5px;
  text-align: left !important;
  border: #155724;
}

.label-container label {
  text-align: left !important;
  margin-left: 25px;
}

.form-container input {
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
}

.form-container textarea {
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
}


.form-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}


.back-button-container {
  text-align: left;
  margin-bottom: 10px;
}

.back-button {
  background-color: #ffffff !important;
  color: #000000  !important;
  border: none  !important ;
 // padding: 10px  !important;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 2px; 
  margin-right: 10px;
}

.back-button:hover {
  background-color: #AAAAAA;
}



.label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.error-message {
  color: #dc3545;
  margin-top: 5px;
  font-size: 14px;
}



.info-container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

.info-table td {
  border: none;
  padding: 8px;
  vertical-align: top;
  background-color: transparent;

}


.imgLogo {
  width: 180px;  /* Define el ancho deseado */
  height: 180px; /* Define la altura deseada */
  object-fit: contain; /* Evita la deformación y ajusta la imagen dentro del contenedor */
  object-position: center;
  margin-left: 30%;

}
.img-container{
  display: flex;
  width: 100%;
  text-align: center;
  align-content: center;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%; 
  align-items: center;
  text-align: center;
}

.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1000; /* Asegurarse de que esté sobre otros elementos */
}
.success-toast {
  background-color: #4caf50 !important; /* Verde */
  color: white !important;
}

.error-toast {
  background-color: #f44336 !important; /* Rojo */
  color: white !important;
}

 .edit {
  background-color: rgb(29, 143, 236) !important;
  color: white;
  margin-right: 10px !important; 
}

 .delete {
 background-color: red !important;
  color: white;
  margin-right: 10px; 
}

.activar {
  background-color: green !important;
  color: white;
  margin-right: 10px !important;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tablaInvestigadores {
  margin-left: 1%;
  width: 98%;
  border-collapse: collapse;
  text-align: left; 
}
.tablaInvestigadores th {
  font-size: 12px; /* Tamaño de fuente para los encabezados de la tabla */
}

.tablaInvestigadores td {
  font-size: 11px; /* Tamaño de fuente para las celdas de la tabla */
}


.tables-container3 {
  width: 100%;
display: flex;
gap: 50px;
}
.members-table{
  flex: 1; /* Esto hace que las tablas ocupen el mismo espacio disponible */

}
.tablas-container {
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; // Espacio entre las dos tablas
  flex-wrap: wrap; // Permite que las tablas se acomoden si la pantalla es pequeña
}

.tabla {
  flex: 1; // Ocupa el mismo espacio para ambas tablas
  min-width: 300px; // Asegura que las tablas no se encojan demasiado
}


.tabla-conteo {
  width: 100%;
  font-size: 12px; // Reduce el tamaño de la fuente para que entren mejor
}

th, td {
  padding: 5px !important; // Reduce el espacio interno de las celdas
}

.total-row {
  background-color: #f1f1f1;
  font-weight: bold;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}
.botones-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; // espacio entre botones
  justify-content: center; // o "flex-start" si los quieres alineados a la izquierda
  padding: 1rem;

  .btn-container {
    flex: 1 1 auto; // crece y se adapta según el espacio
    min-width: 220px; // ancho mínimo para que no se vean muy chicos
    max-width: 300px;
  }
}

