<div class="cont">
  <div class="container-fluid">
    <div class="card">
      <header>
        <h2 mat-dialog-title>Agregar Capítulos de Libros</h2>
      </header>
      <div mat-dialog-content>
        <form [formGroup]="librosForm">
          <div class="grid-item">
            <h2>Título</h2>
            <mat-form-field>
              <mat-label>Ingresar Título</mat-label>
              <input matInput placeholder="Título" formControlName="titulo" />
            </mat-form-field>
          </div>
          <div class="grid-item">
            <h2>Autor(es)</h2>
            <mat-form-field>
              <mat-label>Ingresar Autor(es)</mat-label>
              <input matInput placeholder="Autor(es)" formControlName="autor" />
            </mat-form-field>
          </div>
          <div class="grid-item">
            <h2>Editorial</h2>
            <mat-form-field>
              <mat-label>Ingresar Editorial</mat-label>
              <input matInput placeholder="Editorial" formControlName="editorial" />
            </mat-form-field>
          </div>
          <div class="grid-item">
            <h2>ISBN</h2>
            <mat-form-field>
              <mat-label>Ingresar ISBN</mat-label>
              <input matInput placeholder="ISBN" formControlName="isbn" />
            </mat-form-field>
          </div>
        </form>
      </div>
      <div mat-dialog-actions>
        <div class="action-buttons">
          <button
            class="edit"
            mat-mini-fab
            color="primary"
            aria-label="Guardar"
            mat-button
            (click)="save()">
            <i class="fa fa-save" aria-hidden="true"></i>
          </button>
          <button
            class="delete"
            mat-mini-fab
            color="warn"
            aria-label="Cancelar"
            mat-button
            (click)="cancel()">
            <i class="fas fa-times-circle" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
