
<div class="container-fluid">
  <div class="card">
    <header>
      <h1>Informe de Bienes Y Equipos</h1>
    </header>
    <div
      style="width: 100%;display: flex;justify-self: center;justify-items: center;justify-content: center; align-items: center;"
      *ngIf="loadingData">
      <mat-spinner diameter="150" color="primary"
        class="overlay-spinner"></mat-spinner>

    </div>
    <main *ngIf="!loadingData">
      <mat-stepper #stepper>
        <mat-step>
          <ng-template matStepLabel>Informe</ng-template>
          <vex-reporte-bienes [idGrupo]="invGroupId"></vex-reporte-bienes>
          <div class="grid-container">
            <div class="grid-item"></div>
            <div class="grid-item">
              <div>
              
              <button type="button" mat-raised-button color="primary"
                matStepperNext>
                Siguiente
              </button></div>
            </div> </div>
          
        </mat-step>
       

        <mat-step>
          <ng-template matStepLabel>Memorando de Solicitud de Creación del Grupo de Investigación</ng-template>
          <div *ngIf="pdfUrl">
            <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>

          </div>
          <div class="grid-container">
            <div class="grid-item"></div>
            <div class="grid-item">
              <div>
              <button type="button" mat-raised-button color="primary"
                matStepperPrevious>Regresar</button>
                <button
                type="button"
                mat-raised-button
                color="primary"
                matStepperPrevious
                (click)="validarGrupo('actas-cierre')"
              >
               Asignar Solicitud
              </button></div>
            </div> </div>
          
        </mat-step>
      
      </mat-stepper>
      <div >
        
        
      </div>

    </main>
  </div>
</div>
