<div *ngIf="isLoading" class="loading-spinner-overlay">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="container-fluid">
    <div class="card">
        <header>
            <h1>Solicitud Informe Anual de Ejecución de Actividades </h1>

        </header>
        <main>
            <div *ngIf="noSolicitudesPendientes" class="no-data-message">
                No existen Solicitudes por Validar Pendientes
            </div>
           
            <table *ngIf="!noSolicitudesPendientes && !isLoading" class="solicitudes-table">
                <thead>
                    <tr>
                        <th colspan="5">Solicitud Informe Anual de Ejecución de Actividades

                        </th>
                    </tr>
                    <tr>
                        <th style="width: 10%;">#</th>
                        <th style="width: 35%;">Nombre de Grupo</th>
                        <th style="width: 30%;">Nombre del Coordinador</th>
                        <th>Solicitar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let gi of grupoComplete; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{ gi.invGroup.nombreGrupoInv}}</td>
                        <td>{{ gi.coordinador.nombre }}</td>
                        <td>
                            <button class="edit" mat-mini-fab color="primary"
                                aria-label="Example icon button with a delete icon"
                                (click)="solicitar(gi.invGroup.idGrupoInv)">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>
                            </button>

                        </td>

                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>