@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.timeline {
  width: 50%;
  position: relative;
  margin: 20px;
  padding-left: 40px;
  border-left: 4px solid #007bff;
}

.timeline-item {
  margin-bottom: 20px;
  position: relative;
}

.timeline-date {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
  text-align: left;
}

.timeline-content {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
