<div *ngIf="isLoading" class="loading-spinner-overlay">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="cont" *ngIf="!isLoading">
  <div class="container-fluid">
    <div class="card" *ngIf="invGroup">
      <header>
        <h1>{{invGroup.invGroup.nombreGrupoInv }} - {{
          invGroup.invGroup.acronimoGrupoinv }}</h1>
      </header>
      <mat-card>
        <div class="info-container">
          <div class="column">
            <table class="info-table">
              <tr>
                <td><strong>Departamento:</strong></td>
                <td>{{ invGroup.invGroup.departamento }}</td>
              </tr>
              <tr *ngIf="invGroup.academicDomain?.length">
                <td><strong>Dominios Académicos:</strong></td>
                <td>
                  <span
                    *ngFor="let acad of invGroup.academicDomain; let last = last">
                    {{ acad.nombreDominioAcademico }}<ng-container
                      *ngIf="!last"><br></ng-container>
                  </span>
                </td>
              </tr>
              <tr *ngIf="invGroup.area?.length">
                <td><strong>Áreas de Investigación:</strong></td>
                <td>
                  <span *ngFor="let area of invGroup.area; let last = last">
                    {{ area.nombreArea }}<ng-container
                      *ngIf="!last"><br></ng-container>
                  </span>
                </td>
              </tr>
              <tr *ngIf="invGroup.line?.length">
                <td><strong>Líneas de Investigación:</strong></td>
                <td>
                  <span *ngFor="let line of invGroup.line; let last = last">
                    {{ line.nombreLinea }}<ng-container
                      *ngIf="!last"><br></ng-container>
                  </span>
                </td>
              </tr>
            </table>
          </div>

          <div class="column">
            <div class="img-container">
              <img class="imgLogo" *ngIf="imagenUrl" [src]="imagenUrl"
                alt="Imagen del Grupo" />
              <img class="imgLogo" *ngIf="!imagenUrl"
                src="assets/img/espe/logo-espe.png" alt="Imagen del Grupo" />
            </div>

          </div>

        </div>
        <div class="filters-container">
          <div class="search-container">
            <mat-form-field appearance="outline" class="full-width1">
              <mat-label>Buscar por departamento</mat-label>
              <mat-select [formControl]="departamentoControl">
                <mat-option value="">Todos los departamentos</mat-option>
                <mat-option *ngFor="let dept of departamento" [value]="dept">
                  {{ dept }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        
          <div class="search-container">
            <mat-form-field appearance="outline" class="full-width1">
              <mat-label>Buscar por función</mat-label>
              <mat-select [formControl]="funcionControl">
                <mat-option value="">Todas las Funciones del GI</mat-option>
                <mat-option *ngFor="let fun of tipo" [value]="fun">
                  {{ fun }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        
          <div class="search-container">
            <mat-form-field appearance="outline" class="full-width1">
              <mat-label>Filtrar por género</mat-label>
              <mat-select [formControl]="generoControl">
                <mat-option value="">Todas</mat-option>
                <mat-option *ngFor="let gen of genero" [value]="gen">
                  {{ gen }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        
          <div class="search-container">
            <mat-form-field appearance="outline" class="full-width1">
              <mat-label>Buscar por Grado Académico</mat-label>
              <mat-select [formControl]="gradoControl">
                <mat-option value="">Todos</mat-option>
                <mat-option *ngFor="let grado of grado" [value]="grado">
                  {{ grado }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        
        <div class="tablas-container">

          <div class="tabla">       
            <!-- Tabla de conteo de departamentos -->
            <table mat-table [dataSource]="departamentoCountDataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="departamento">
                <th mat-header-cell *matHeaderCellDef>Departamento</th>
                <td mat-cell *matCellDef="let element">{{ element.departamento }}</td>
                <td mat-footer-cell *matFooterCellDef><strong>Total</strong></td>
              </ng-container>
            
              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
                <td mat-footer-cell *matFooterCellDef><strong>{{ totalDepartamentoCount }}</strong></td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="['departamento', 'cantidad']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['departamento', 'cantidad'];"></tr>
              <tr mat-footer-row *matFooterRowDef="['departamento', 'cantidad']"></tr>
            </table>
          </div>   
  
          <div class="tabla">       
            <!-- Tabla de conteo de departamentos -->
            <table mat-table [dataSource]="funcionCountDataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef>Función</th>
                <td mat-cell *matCellDef="let element">{{ element.tipo }}</td>
                <td mat-footer-cell *matFooterCellDef><strong>Total</strong></td>
              </ng-container>
            
              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
                <td mat-footer-cell *matFooterCellDef><strong>{{ totalFuncionCount }}</strong></td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="['tipo', 'cantidad']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['tipo', 'cantidad'];"></tr>
              <tr mat-footer-row *matFooterRowDef="['tipo', 'cantidad']"></tr>
            </table>
          </div>  
  
  
        </div>   
        <div class="tablas-container">

          <div class="tabla">       
            <!-- Tabla de conteo de departamentos -->
            <table mat-table [dataSource]="generoCountDataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="genero">
                <th mat-header-cell *matHeaderCellDef>Genero</th>
                <td mat-cell *matCellDef="let element">{{ element.genero }}</td>
                <td mat-footer-cell *matFooterCellDef><strong>Total</strong></td>
              </ng-container>
            
              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
                <td mat-footer-cell *matFooterCellDef><strong>{{ totalGeneroCount }}</strong></td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="['genero', 'cantidad']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['genero', 'cantidad'];"></tr>
              <tr mat-footer-row *matFooterRowDef="['genero', 'cantidad']"></tr>
            </table>
          </div>   
  
          <div class="tabla">       
            <!-- Tabla de conteo de departamentos -->
            <table mat-table [dataSource]="gradoCountDataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="grado">
                <th mat-header-cell *matHeaderCellDef>Grado Académico</th>
                <td mat-cell *matCellDef="let element">{{ element.grado }}</td>
                <td mat-footer-cell *matFooterCellDef><strong>Total</strong></td>
              </ng-container>
            
              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
                <td mat-footer-cell *matFooterCellDef><strong>{{ totalGradoCount }}</strong></td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="['grado', 'cantidad']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['grado', 'cantidad'];"></tr>
              <tr mat-footer-row *matFooterRowDef="['grado', 'cantidad']"></tr>
            </table>
          </div>  
  
  
        </div>   
          <table class="mat-elevation-z8" mat-table [dataSource]="dataSource"
          matSort>

          <ng-container matColumnDef="pais">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> País </th>
            <td mat-cell *matCellDef="let user" class="word-wrap-cell">
              {{ user.nacionalidad === 'E' ? 'Ecuador' : (user.nacionalidad ===
              'E5' ? 'España' : user.nacionalidad) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nombreDocente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del
              Docente </th>
            <td mat-cell *matCellDef="let user" class="word-wrap-cell"> {{ user.nombre }} </td>
          </ng-container>

          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Función </th>
            <td mat-cell *matCellDef="let user" class="word-wrap-cell"> {{ user.tipo }} </td>
          </ng-container>

          <ng-container matColumnDef="departamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th>
            <td mat-cell *matCellDef="let user" class="word-wrap-cell">
              {{ user.departamento ? user.departamento.split('-')[0] : 'Externo'
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="universidadCentro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Universidad/Centro </th>
            <td mat-cell *matCellDef="let user" class="word-wrap-cell"> {{ user.institucion }} </td>
          </ng-container>
          <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Género </th>
            <td mat-cell *matCellDef="let user" class="word-wrap-cell"> {{ user.genero }} </td>
          </ng-container>
          <ng-container matColumnDef="grado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Grado Académico </th>
            <td mat-cell *matCellDef="let user" class="word-wrap-cell"> {{ user.grado }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <div class="botones-container">
          <button type="button" mat-raised-button color="primary" class="btn-container"
            [disabled]="!invGroup" (click)="EditGroup()">Editar Información del Grupo</button>
        
          <button type="button" mat-raised-button color="primary" class="btn-container" 
            [disabled]="!invGroup" (click)="EditMembers()">
            Editar Miembros del Grupo
          </button>
        
          <button type="button" mat-raised-button color="primary" class="btn-container" 
            [disabled]="!invGroup" (click)="EditLine()">
            Editar Dominios-Áreas-Líneas
          </button>
        
          <button type="button" mat-raised-button color="primary" class="btn-container" 
            [disabled]="!invGroup" (click)="enlace('reportesGI')">
            Reportes
          </button>
        </div>
        
      </mat-card>
    </div>
  </div>
</div>